<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.gabrielmoreyra.flutter_spotify_authentication">
    <application>
        <activity android:name="FlutterSpotifyAuthenticationPlugin" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
